header, footer {
    background: blueviolet;
}


.img-fluid {
    height:80px;
    width: 130px;
    float: left;


}

.img-fluid-2 {
    width: 110px;
    float: left;
    margin-top: 23px;


}


.container {
    display:flex;

}

.box1 {
    width: 78%;
}

.box2 {
    height: 50px;
    width: 50px;
    margin-top: 25px;
}



h1 {
    font-weight: lighter;
    color: blueviolet;
}

h2 {
    font-weight: lighter;
    margin-top: 30px;
    color: blueviolet;
}

.container2 {
    display: flex;
}
.box3 {
    width: 650px;
}

.box4 {
    width: 50%;
}

.container3 {
    display: flex;

}

.img-fluid-3 {
    height: 250px;
    width: 250px;
}

