header, footer {
    background-image: linear-gradient(blueviolet,darkmagenta);
}

.img-fluid-4 {
    height: 100%;
    width: 100%;
}



.container {
    display:flex;

}

.box1 {
    width: 78%;
}

.box2 {
    height: 50px;
    width: 50px;
    margin-top: 25px;
}

.img-fluid {
    height:90px;
    width: 160px;
    float: left;

}

.img-fluid-2 {
    width: 110px;
    float: left;
    margin-top: 27px;
}

p {
    color: white;
    font-weight: lighter;
}